@charset "utf-8"

/*
	Formato de bloques y texto
	Centrar Bloques / Divs "_B"
.Centrar_B
	display: block !important
	margin-left: auto !important
	margin-right: auto !important
/*
	Float Derecha - Izquierda
.float_D
	float: right !important
	text-align: right !important
.float_I
	float: left !important
	text-align: left !important
/*
	Limpiar Float
.limpiar_F:before,
.limpiar_F:after
	content: " "
	display: table
.limpiar_F:after
	clear: both
