@charset "utf-8"

/*
	Formato de bloques y texto
	Centrar Bloques / Divs
.divCentrado
	display: block !important
	margin-left: auto !important
	margin-right: auto !important
/*
	Float Derecha - Izquierda
.floatDerecha
	float: right !important
	text-align: right !important
.floatIzquierda
	float: left !important
	text-align: left !important
/*
	Limpiar Float
.limpiarfloat:before,
.limpiarfloat:after
	content: " "
	display: table
.limpiarfloat:after
	clear: both
