@charset "utf-8"

/*
	Variables de Color
	Principales
$C_Primario: #ccc
$C_Secundario: #333

/*
	Grises
$Negro: #000
$N_80: #222
$N_60: #333
$Gris: #555
$B_60: #aaa
$B_80: #eee
$Blanco: #FFF

/*
	Colores
$Amarillo: #000
$Azul: #000
$Cafe: #000
$Morado: #000
$Naranja: #000
$Rojo: #000
$Rosa: #000
$Verde: #000

/*
	Colores Pastel
$Amarillo_P: #000
$Azul_P: #000
$Cafe_P: #000
$Morado_P: #000
$Naranja_P: #000
$Rojo_P: #000
$Rosa_P: #000
$Verde_P: #000
